// Variable for mains colors :

// $backgroundPage: #FFE8D6;
// $menuBar: #CB997E;
// $menuSelected: #DDBEA9;
// $backgroundCard: #89725B;
// $cardSelected: #DDBEA9;
// $footerFirstRow: #B09F91;
// $footerSecondeRow: #89725B;

// Font Sizes :
// $extra-small: 1em; 
// $small: 1em;
// $extra-medium: 1.5em;
// $medium: 2em;
// $large: 3em;


// Register Page : 
// .register-text {
//     h2 {
//         font-size: $extra-medium;
//         display: flex;
//         justify-content: center;
        
//     }
//     h3 {
//         font-size: $small;
//     }
// }