$extra-small: 1em;
$small: 1em;
$extra-medium: 1.5em;
$medium: 2em;
$large: 3em;

.img-thumbnail {
    width: 100px;
    height: 75px;
}

input {
    width: 50px;
}

.one-order {
    padding: 10px;
    border-bottom: 1px solid rgb(172, 172, 172);

    div {
        button {
            background-color: transparent;
            border: none;
        }
    }
}

.result-command {
    .command-details {
        border-radius: 10px;
        padding: 15px;
        background-color: #eacb92;
        color: #251B15;
        box-shadow: 0px 4px 4px 0px #00000040;
    }

    h1 {
        text-transform: uppercase;
        font-size: $extra-medium;
        margin-bottom: 35px;
    }

    div {
        h3 {
            margin-bottom: 20px;
        }

        h3,
        span {
            font-size: $small
        }

        button {
            margin-top: 10px;
            padding: 0px 20px;
            border: none;
            text-transform: uppercase;
            background-color: #fff;
            border-radius: 10px;
            color: #251B15;
            margin-bottom: 25px;
            border: 2px solid #EABD74;
        }

        button:hover {
            box-shadow: 0px 4px 4px 0px #00000040;
            background-color: #EABD74
        }
    }
}