// Global
p {
    margin: 0
}

// Services
.services {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #F0EFF4;

    img {
        height: 300px;
        width: 300px;
        margin-bottom: 20px;
    }

    div {
        width: 50%;
        text-align: center;

        img {
            height: 100px;
            width: 200px;
        }

        h2 {
            color: #EF3F4B;
            margin-bottom: 20px;
        }

        button {
            background-color: #fff;
            border-radius: 25px;
            color: #251B15;
            padding: 5px 10px;
            margin-bottom: 25px;
            border: 2px solid #EABD74;
        }

        button:hover {
            box-shadow: 0px 4px 4px 0px #00000040;
            background-color: #EABD74
        }
    }
}

// Help Us
.help-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #F3F3F3;
    padding: 35px 0;

    p {
        text-align: center;
        padding-bottom: 25px;
    }

    .how-to-help {
        display: flex;
        justify-content: space-around;

        div {
            display: flex;
            flex-direction: column;
            text-align: center;
            cursor: pointer;

            .help-images {
                width: 100px;
                height: 100px;
                filter: invert(96%) sepia(97%) saturate(655%) hue-rotate(311deg) brightness(97%) contrast(89%);
                margin-bottom: 15px;
            }
        }

        div:hover {
            img {
                filter: invert(91%) sepia(74%) saturate(6494%) hue-rotate(310deg) brightness(97%) contrast(82%);
            }
        }
    }
}


@media (max-width: 768px) {
    .help-us .how-to-help {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 20px 0px;
    }
}
