.containerCarousel {
    background-color: #E9E8E8;
    padding: 50px;
}

.card-img,
.card-img-top {
    width: 100% !important;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
    display: flex !important;
    justify-content: space-around;
}

// .card {
//     width: 25%;
//     height: 100%
// }

// .card {
//     img {
//         width: 100%;
//         height: 180px
//     }
// }

.btn {
    border: 2px solid #EABD73;
    background-color: #FFFFFF;

}

.btn:hover {
    background-color: #EABD73;
    border: 2px solid #EABD73;
    box-shadow: 0px 4px 4px 0px #00000040;
}

// .bouton{
//     text-align: center;
//     width: 150px;
//     height: 20px;
//     background-color: #EABD73;
// }

@media (max-width: 768px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }

    .card {
        width: 50%
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-right.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(33.333%);
    }

    .carousel-inner .carousel-item-left.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-33.333%);
    }
}

.carousel-inner .carousel-item-right,
.carousel-inner .carousel-item-left {
    transform: translateX(0);
}
