.carre1 {
    background-color: #EABD73;
    width: 100%;
    color: white;
    justify-content: center;
}

.coordonnées {
    width: 45px;
    height: 50px;
}

.carre2 {
    background-color: #251B15;
    width: 100%;
    color: white;
    flex-direction: row;
    display: flex;
}

img {
    width: 25%;
    height: 100%
}

.adress,
.mail,
.telephone {
    width: 30%;
    justify-content: center;
    align-items: center;
    padding: 0;

    img {
        padding-right: 10px;
    }
}

// SVG COLORS
.coordonnées {
    filter: invert(99%) sepia(5%) saturate(6%) hue-rotate(42deg) brightness(106%) contrast(100%);
}

// RESPONSIVE COLORS
@media (max-width: 768px) {
    .carre1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .adress,
    .mail,
    .telephone {
        width: 50%;
        justify-content: flex-start;

        p {
            width: 100%;
            justify-content: center;
            display: flex
        }
    }
}
