header {
    border-bottom: solid black 1px;
}

.Navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: black solid 1px;
    align-items: center;
    padding: 0px 20px;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;

    a {
        margin: 10px 20px;
        justify-content: center;
        display: flex;
        width: 10%;
    }
}


.img-logo {
    width: 100px;
    height: 100px;
    margin: 0px 15px;
}

.img-tel {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.img {
    width: 70px;
    height: 70px;
    padding: 16px;
}

.divtel {
    display: flex;
    flex-direction: row;
    align-items: center;
}

a {
    color: black !important;
    text-decoration: none !important;
}


// RESPONSIVE
@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;

        a {
            margin: 5px 0px
        }
    }
}
